index.html
{
  "name": "add information opotunity/moviment card",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "acta-visita-tecnica",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [720, -288],
      "id": "405d05e6-c724-4745-a9ad-fa6a36273aec",
      "name": "Webhook",
      "webhookId": "0f0c12cb-8cb0-4d74-b849-1ae9a59e33dd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f526c8b-85bc-4ca9-bc8d-826d1bb2de78",
              "name": "id_op",
              "value": "={{ parseInt($json.body.id || $json.body.id_op || 0) }}",
              "type": "number"
            },
            {
              "id": "cf079931-39b1-4308-9cef-ad0c6645cbbb",
              "name": "x_studio_dninif_del_asegurado_1",
              "value": "={{ $json.body.dni || '' }}",
              "type": "string"
            },
            {
              "id": "90269af8-6a9e-48f4-88fb-3c4b61a6efee",
              "name": "x_studio_telefono_del_asegurado",
              "value": "={{ $json.body.telefono || '' }}",
              "type": "string"
            },
            {
              "id": "45cb72d3-acb4-43ae-8693-76afa4a8676b",
              "name": "x_studio_marca",
              "value": "={{ $json.body.marca || '' }}",
              "type": "string"
            },
            {
              "id": "ab2090a0-096c-4110-8529-1cba31462991",
              "name": "x_studio_modelo",
              "value": "={{ $json.body.modelo || '' }}",
              "type": "string"
            },
            {
              "id": "3f1c4934-26a3-494f-8ebe-d138d47ff12f",
              "name": "x_studio_nmero_de_serie",
              "value": "={{ $json.body.serie || '' }}",
              "type": "string"
            },
            {
              "id": "89bf90d0-f15f-4e69-924b-36aefaab7f53",
              "name": "x_studio_antigedad",
              "value": "={{ $json.body.antiguedad || '' }}",
              "type": "string"
            },
            {
              "id": "efed1eeb-da9e-4c96-92a8-4d3066a5b936",
              "name": "x_studio_tipo_averia",
              "value": "={{ $json.body.averia || '' }}",
              "type": "string"
            },
            {
              "id": "dcd1024a-99c7-46c5-82ac-ab71911a7fa9",
              "name": "x_studio_tipo_averia_especificar_otros",
              "value": "={{ $json.body.averia_otros || '' }}",
              "type": "string"
            },
            {
              "id": "4272b509-cf41-4d12-ad24-d15da66fffed",
              "name": "x_studio_diagnstico_tcnico",
              "value": "={{ $json.body.diagnostico || '' }}",
              "type": "string"
            },
            {
              "id": "5ca0edf7-d88d-4c37-a467-45d8562965f9",
              "name": "x_studio_observaciones",
              "value": "={{ $json.body.observaciones || '' }}",
              "type": "string"
            },
            {
              "id": "5f2e4bb9-e930-4c86-b5ab-c0fb3dcadee3",
              "name": "x_studio_firma_tecnico",
              "value": "={{ $json.body.firma_tecnico || '' }}",
              "type": "string"
            },
            {
              "id": "40f2a0eb-e086-4f76-b780-05841e4ed768",
              "name": "x_studio_firma_cliente",
              "value": "={{ $json.body.firma_cliente || '' }}",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-f5a6-7890-abcd-ef1234567890",
              "name": "x_studio_tecnico_visita",
              "value": "={{ $json.body.tecnico || '' }}",
              "type": "string"
            },
            {
              "id": "c2d3e4f5-a6b7-8901-bcde-f12345678901",
              "name": "x_studio_electrodomstico",
              "value": "={{ $json.body.electrodomestico || '' }}",
              "type": "string"
            },
            {
              "id": "d3e4f5a6-b7c8-9012-cdef-123456789012",
              "name": "x_studio_fecha_emision",
              "value": "={{ $json.body.fecha || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [896, -288],
      "id": "99d1387a-7b73-427c-868f-3a11e5ee03b1",
      "name": "normalize-data"
    },
    {
      "parameters": {
        "jsCode": "// Lee card_id desde normalize-data (ya procesado)\nconst norm = $('normalize-data').first().json;\nconst cardId = norm.id_op ? norm.id_op.toString() : '';\n\nif (!cardId || cardId === '0') {\n  throw new Error('id_op no encontrado. Verifica que el HTML envía body.id correctamente.');\n}\n\nreturn [{ card_id: cardId }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1136, -288],
      "id": "ff18aca2-84b7-408e-b1a8-1aeb07faa519",
      "name": "regex-data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electrodomesticos-marian-sl.odoo.com/jsonrpc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"electrodomesticos-marian-sl\",\n      2,\n      \"electrodomesticosmariansl\",\n      \"crm.lead\",\n      \"search_read\",\n      [\n        [\n          [\"id\", \"=\", {{ $('normalize-data').first().json.id_op }}]\n        ]\n      ],\n      {\n        \"fields\": [\"id\", \"name\", \"partner_id\"]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1472, -288],
      "id": "c9a5ae23-b3ee-4b0b-bbde-b3fa6b75a616",
      "name": "Search oportunity = contacts",
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "=result",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1648, -288],
      "id": "13088a63-b522-4ff9-972b-fd64032d49b9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7af585a-7bf5-44e3-b3c4-4a0beecaf581",
              "leftValue": "={{ $('regex-data').first().json.card_id }}",
              "rightValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [2144, -272],
      "id": "5702f8bc-e96c-48d4-9b37-49ffbc49cf20",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1936, -272],
      "id": "0a6428bd-06eb-433d-b5a3-5a89c83d22d3",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electrodomesticos-marian-sl.odoo.com//jsonrpc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"electrodomesticos-marian-sl\",\n      2,\n      \"electrodomesticosmariansl\",\n      \"crm.lead\",\n      \"write\",\n      [\n        [{{ $('normalize-data').first().json.id_op }}],\n        {\n          \"x_studio_tecnico_visita\":      \"{{ $('normalize-data').first().json.x_studio_tecnico_visita }}\",\n          \"x_studio_data_visita\":         \"{{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}\",\n          \"x_studio_electrodomstico\":     \"{{ $('normalize-data').first().json.x_studio_electrodomstico }}\",\n          \"x_studio_marca\":               \"{{ $('normalize-data').first().json.x_studio_marca }}\",\n          \"x_studio_modelo\":              \"{{ $('normalize-data').first().json.x_studio_modelo }}\",\n          \"x_studio_nmero_de_serie\":      \"{{ $('normalize-data').first().json.x_studio_nmero_de_serie }}\",\n          \"x_studio_antigedad\":           \"{{ $('normalize-data').first().json.x_studio_antigedad }}\",\n          \"x_studio_diagnstico_tcnico\":   \"{{ $('normalize-data').first().json.x_studio_diagnstico_tcnico }}\",\n          \"x_studio_trabajos_realizados\": \"{{ $('normalize-data').first().json.x_studio_diagnstico_tcnico }}\",\n          \"x_studio_tipo_averia\":         \"{{ $('normalize-data').first().json.x_studio_tipo_averia }}\",\n          \"x_studio_observaciones\":       \"{{ $('normalize-data').first().json.x_studio_observaciones }}\"\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2352, -272],
      "id": "b29f121a-fd77-4df5-b353-f9a51f77e888",
      "name": "send informations-formData",
      "executeOnce": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2hmfUI7dty3vl9x2",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electrodomesticos-marian-sl.odoo.com/jsonrpc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"electrodomesticos-marian-sl\",\n      2,\n      \"electrodomesticosmariansl\",\n      \"crm.lead\",\n      \"write\",\n      [\n        [{{ $('normalize-data').first().json.id_op }}],\n        {\n          \"stage_id\": 8\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2560, -272],
      "id": "73bc3365-c471-4757-b2ab-1d6c1f0a6911",
      "name": "moviment card",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Lee firmas y foto directamente del body del Webhook\nconst body = $node['Webhook'].json['body'];\nconst result = {};\n\n// Firma del técnico\nif (body.firma_tecnico) {\n  result['firma_tecnico'] = [{\n    fileName: 'firma_tecnico.png',\n    mimeType: 'image/png',\n    base64: body.firma_tecnico\n  }];\n} else {\n  result['firma_tecnico'] = [{ base64: null }];\n}\n\n// Firma del cliente\nif (body.firma_cliente) {\n  result['firma_cliente'] = [{\n    fileName: 'firma_cliente.png',\n    mimeType: 'image/png',\n    base64: body.firma_cliente\n  }];\n} else {\n  result['firma_cliente'] = [{ base64: null }];\n}\n\n// Fotos de avería — el HTML envía array de {name, base64}\nconst fotos = body.fotos || [];\nif (fotos.length > 0) {\n  result['foto_averia'] = fotos.map((f, i) => ({\n    fileName: f.name || `foto_averia_${i+1}.jpg`,\n    mimeType: 'image/jpeg',\n    base64: f.base64\n  }));\n} else {\n  result['foto_averia'] = [{ base64: null }];\n}\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1152, 144],
      "id": "d44eb69d-605c-4fb1-9246-f7ed73627ceb",
      "name": "Convert to Base-64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electrodomesticos-marian-sl.odoo.com//jsonrpc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"id\": 1,\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"electrodomesticos-marian-sl\",\n      2,\n      \"electrodomesticosmariansl\",\n      \"crm.lead\",\n      \"write\",\n      [\n        [{{ $('normalize-data').first().json.id_op }}],\n        {\n          \"x_studio_firma_cliente\": \"{{ $node['Convert to Base-64'].json['firma_cliente'][0]['base64'] }}\",\n          \"x_studio_firma_tecnico\": \"{{ $node['Convert to Base-64'].json['firma_tecnico'][0]['base64'] }}\"\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1456, 144],
      "id": "e846ee4d-42bb-4be4-a43f-b3ce601512f3",
      "name": "send informations-images-fields",
      "executeOnce": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2hmfUI7dty3vl9x2",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepara attachments de fotos para la timeline de Odoo\nconst norm = $('normalize-data').first().json;\nconst leadId = parseInt(norm.id_op || 0);\n\nif (!leadId) throw new Error('leadId no encontrado en normalize-data');\n\nconst fotos = $json['foto_averia'] || [];\n\nconst attachments = fotos\n  .filter(f => f.base64)\n  .map((f, i) => ({\n    name: f.fileName || `foto_averia_${i+1}.jpg`,\n    type: 'binary',\n    datas: f.base64,\n    mimetype: f.mimeType || 'image/jpeg',\n    res_model: 'crm.lead',\n    res_id: leadId\n  }));\n\nif (attachments.length === 0) {\n  return [{ json: { skipped: true } }];\n}\n\nreturn attachments.map(a => ({ json: a }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1328, 304],
      "id": "35fa6cb7-ac51-4421-94df-de19be177366",
      "name": "extract Base-64"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1600, 304],
      "id": "e99f6d2d-d6f0-4be3-8c67-11d69d1a8f6d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electrodomesticos-marian-sl.odoo.com//jsonrpc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"call\",\n  \"params\": {\n    \"service\": \"object\",\n    \"method\": \"execute_kw\",\n    \"args\": [\n      \"electrodomesticos-marian-sl\",\n      2,\n      \"electrodomesticosmariansl\",\n      \"ir.attachment\",\n      \"create\",\n      [\n        {\n          \"name\": \"={{ $json.name }}\",\n          \"type\": \"binary\",\n          \"datas\": \"={{ $json.datas }}\",\n          \"res_model\": \"crm.lead\",\n          \"res_id\": {{ $json.res_id }},\n          \"mimetype\": \"={{ $json.mimetype }}\"\n        }\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1808, 320],
      "id": "c33d7557-0914-4b5d-9ca9-5e6a8dfb8d9e",
      "name": "send informations-timeline",
      "executeOnce": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2hmfUI7dty3vl9x2",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1824, 160],
      "id": "d529b702-3a9b-4d89-928e-d6641be742de",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "## Comportamento\n- Recebendo dados do formulário HTML\n- Normalização de dados recebidos (campos planos)",
        "height": 416,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [656, -448],
      "typeVersion": 1,
      "id": "f0df5e1c-7c34-4a6b-8230-c2620d5add92",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Comportamento\n- Pesquisa e separa os contatos",
        "height": 416,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1312, -448],
      "typeVersion": 1,
      "id": "fb78b2d7-74aa-45d0-9cc2-cce71941a97e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Comportamento\n- Converte as imagens em Base64 (Formato do Odoo)\n- Extrai as imagens do Array\n- Envia as imagens para os campos do Odoo (Informe Tecnico)\n- insere todas as imagens na TimeLine da Oportunidade",
        "height": 560,
        "width": 1184,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [944, 0],
      "typeVersion": 1,
      "id": "f3e66dce-1fef-4e88-84e2-d9fb14a874e6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Comportamento\n- Filtra por oportunidade\n- Envia as informações (Não imagens) para os campos do Odoo\n- Movimenta o Card para Visita realizada",
        "height": 416,
        "width": 896,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1856, -448],
      "typeVersion": 1,
      "id": "75ee29d2-ac65-44d9-a4c9-4eb49d26f351",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[
        { "node": "normalize-data", "type": "main", "index": 0 },
        { "node": "Convert to Base-64", "type": "main", "index": 0 }
      ]]
    },
    "normalize-data": {
      "main": [[
        { "node": "regex-data", "type": "main", "index": 0 }
      ]]
    },
    "regex-data": {
      "main": [[
        { "node": "Search oportunity = contacts", "type": "main", "index": 0 }
      ]]
    },
    "Search oportunity = contacts": {
      "main": [[
        { "node": "Split Out", "type": "main", "index": 0 }
      ]]
    },
    "Split Out": {
      "main": [[
        { "node": "Merge", "type": "main", "index": 0 }
      ]]
    },
    "Merge": {
      "main": [[
        { "node": "Filter", "type": "main", "index": 0 }
      ]]
    },
    "Filter": {
      "main": [[
        { "node": "send informations-formData", "type": "main", "index": 0 }
      ]]
    },
    "send informations-formData": {
      "main": [[
        { "node": "moviment card", "type": "main", "index": 0 }
      ]]
    },
    "moviment card": {
      "main": [[]]
    },
    "Convert to Base-64": {
      "main": [[
        { "node": "send informations-images-fields", "type": "main", "index": 0 },
        { "node": "extract Base-64", "type": "main", "index": 0 }
      ]]
    },
    "send informations-images-fields": {
      "main": [[
        { "node": "Merge1", "type": "main", "index": 0 }
      ]]
    },
    "extract Base-64": {
      "main": [[
        { "node": "Loop Over Items", "type": "main", "index": 0 }
      ]]
    },
    "Loop Over Items": {
      "main": [
        [{ "node": "Merge1", "type": "main", "index": 1 }],
        [{ "node": "send informations-timeline", "type": "main", "index": 0 }]
      ]
    },
    "send informations-timeline": {
      "main": [[
        { "node": "Loop Over Items", "type": "main", "index": 0 }
      ]]
    },
    "Merge1": {
      "main": [[
        { "node": "Merge", "type": "main", "index": 1 }
      ]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "f71e008f-5a66-4d9b-bed3-84e1b5bfcd1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d89fa6147c8615b92b0aeb48faff2fd8ce54a1be4ab5f9b2ac30d2ec4330667"
  },
  "id": "Xe6UT0zoDToel3an",
  "tags": []
}
